{
  "openapi": "3.0.3",
  "info": {
    "title": "EigenExplorer API",
    "description": "EigenExplorer is a community-driven data platform for EigenLayer AVS.",
    "version": "0.0.1",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT.html"
    }
  },
  "servers": [
    {
      "url": "https://api.eigenexplorer.com",
      "description": "EigenExplorer Production API"
    }
  ],
  "paths": {
    "/avs/addresses": {
      "get": {
        "operationId": "getAllAvsAddresses",
        "summary": "Retrieve all AVS addresses",
        "description": "Returns a list of all AVS addresses.",
        "tags": [
          "AVS"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "skip",
            "description": "The number of records to skip for pagination.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0,
              "description": "The number of records to skip for pagination.",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "take",
            "description": "The number of records to return for pagination.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 12,
              "description": "The number of records to return for pagination.",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of AVS addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvsAddressSchema"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/avs": {
      "get": {
        "operationId": "getAllAvs",
        "summary": "Retrieve all AVS",
        "description": "Returns all AVS records. This endpoint supports pagination.",
        "tags": [
          "AVS"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "skip",
            "description": "The number of records to skip for pagination.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0,
              "description": "The number of records to skip for pagination.",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "take",
            "description": "The number of records to return for pagination.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 12,
              "description": "The number of records to return for pagination.",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of AVS records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AvsSchema": {
                        "type": "object",
                        "properties": {
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the AVS",
                                "example": "Example AVS"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "The description of the AVS",
                                "example": "This is an example AVS"
                              },
                              "discord": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's Discord server",
                                "example": "https://discord.com/invite/9eeRHxSCTZ"
                              },
                              "logo": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's logo"
                              },
                              "telegram": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's Telegram channel",
                                "example": "https://t.me/acme"
                              },
                              "website": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's website",
                                "example": "https://acme.com"
                              },
                              "x": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's X",
                                "example": "https://twitter.com/acme"
                              }
                            },
                            "required": [
                              "name",
                              "description",
                              "discord",
                              "logo",
                              "telegram",
                              "website",
                              "x"
                            ]
                          },
                          "curatedMetadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the AVS",
                                "example": "Example AVS"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "The description of the AVS",
                                "example": "This is an example AVS"
                              },
                              "discord": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's Discord server",
                                "example": "https://discord.com/invite/9eeRHxSCTZ"
                              },
                              "logo": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's logo"
                              },
                              "telegram": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's Telegram channel",
                                "example": "https://t.me/acme"
                              },
                              "website": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's website",
                                "example": "https://acme.com"
                              },
                              "x": {
                                "type": "string",
                                "nullable": true,
                                "format": "uri",
                                "description": "The URL of the AVS's X",
                                "example": "https://twitter.com/acme"
                              }
                            },
                            "required": [
                              "name",
                              "description",
                              "discord",
                              "logo",
                              "telegram",
                              "website",
                              "x"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "example": "66218ccb560e53b6760df00d"
                          },
                          "address": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "description": "The AVS service manager contract address",
                            "example": "0x74b09c5de70ebadbeeb5db503fecb6e6ad39560d"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of tags associated with the AVS",
                            "example": [
                              "DA"
                            ]
                          },
                          "isVisible": {
                            "type": "boolean",
                            "example": true
                          },
                          "isVerified": {
                            "type": "boolean",
                            "description": "Whether the AVS is manually verified",
                            "example": true
                          },
                          "totalOperators": {
                            "type": "number",
                            "minimum": 0,
                            "description": "The total number of operators",
                            "example": 1
                          },
                          "totalStakers": {
                            "type": "number",
                            "minimum": 0,
                            "description": "The total number of stakers",
                            "example": 1
                          }
                        },
                        "required": [
                          "metadata",
                          "curatedMetadata",
                          "id",
                          "address",
                          "tags",
                          "isVisible",
                          "isVerified",
                          "totalOperators",
                          "totalStakers"
                        ]
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "number",
                            "description": "Total number of AVS records in the database",
                            "example": 30
                          },
                          "skip": {
                            "type": "number",
                            "description": "The number of skiped records for this query",
                            "example": 0
                          },
                          "take": {
                            "type": "number",
                            "description": "The number of records returned for this query",
                            "example": 12
                          }
                        },
                        "required": [
                          "total",
                          "skip",
                          "take"
                        ]
                      }
                    },
                    "required": [
                      "AvsSchema",
                      "meta"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AvsAddressSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the AVS",
            "example": "Example AVS"
          },
          "address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "The AVS service manager contract address",
            "example": "0x74b09c5de70ebadbeeb5db503fecb6e6ad39560d"
          }
        },
        "required": [
          "name",
          "address"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_request"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "bad_request"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#bad_request"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "401": {
        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#unauthorized"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "403": {
        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "forbidden"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#forbidden"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "404": {
        "description": "The server cannot find the requested resource.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "not_found"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#not_found"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "422": {
        "description": "The request was well-formed but was unable to be followed due to semantic errors.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unprocessable_entity"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "unprocessable_entity"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#unprocessable_entity"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "429": {
        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "rate_limit_exceeded"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "rate_limit_exceeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#rate_limit_exceeded"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "500": {
        "description": "The server has encountered a situation it does not know how to handle.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_server_error"
                      ],
                      "description": "A short code indicating the error code returned.",
                      "example": "internal_server_error"
                    },
                    "message": {
                      "type": "string",
                      "description": "A human readable explanation of what went wrong.",
                      "example": "The requested resource was not found."
                    },
                    "doc_url": {
                      "type": "string",
                      "description": "A link to our documentation with more details about this error code",
                      "example": "https://docs.eigenexplorer.com/api-reference/errors#internal_server_error"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      }
    }
  }
}